<mat-toolbar color="primary">
  <mat-toolbar-row class="toolbar">
    <a mat-button routerLink="/products">PRODUCTOS</a>
    <a mat-button routerLink="/categories">CATEGORÍAS</a>
    <a mat-button routerLink="/profile">PERFIL</a>
    <span class="spacer"></span>
    <!-- logout button with "Cerrar sesión" text and icon -->
    <button mat-button *ngIf="authService.isAuthenticated()" (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      Cerrar sesión
    </button>
  </mat-toolbar-row>
</mat-toolbar>
<div class="container">
  <router-outlet> </router-outlet>
</div>
