.subtitle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  h3 {
    margin: 0;
  }
}

.card {
  img {
    aspect-ratio: 1/1;
    object-fit: cover;
  }
}

.dialog {
  background-color: red;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 2rem;
  margin: 10px;
}
