<h2>PRODUCTOS</h2>
<div *ngIf="categoryName" class="subtitle">
  <h3>Categoria: {{ categoryName }}</h3>
  <button mat-icon-button (click)="removeCategoryFilter()">
    <mat-icon>close</mat-icon>
  </button>
</div>

<main>
  <div *ngIf="products?.length !== 0" class="grid">
    <mat-card
      class="card"
      *ngFor="let product of products"
      (click)="onSelectProduct(product.id)"
    >
      <img
        mat-card-image
        alt="Photo of a Shiba Inu"
        src="{{ product.images[0] }}"
      />
      <mat-card-header>
        <mat-card-title>{{ product.title }}</mat-card-title>
        <mat-card-subtitle>{{ product.price }} Bs.</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ product.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div *ngIf="products?.length === 0">
    <p>No hay productos</p>
  </div>
</main>
